.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cadaf8;
    position: fixed;
    gap: 2rem;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    height: 7rem;
}

.navbar .sidebar-control-wrapper {
    display: none;
}

.navbar .characters {
    display: flex;
    gap: 1rem;
}

.navbar .characters .characters-container {
    display: flex;
    gap: 1rem;
}

.navbar .divider {
    background: rgb(148, 145, 185);
    width: 3px;
    height: 4rem;
    border-radius: 10px;
}

.navbar .nav-button {
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

.navbar .nav-button {
    color: rgb(198, 60, 60);
}

@media screen and (max-width: 600px) {
    .navbar {
        position: absolute;
        height: 100%;
        position: fixed;
        width: 80%;
        flex-direction: column;
        padding-bottom: 3rem;
        transition: left 0.33s;
        padding: 1.5rem;
    }

    .navbar.hidden {
        left: -80%;
    }

    .navbar .sidebar-control-wrapper {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: -2rem;
        top: 1rem;
        transition: right 0.33s;
    }

    .navbar .sidebar-control {
        background: rgb(54, 4, 4, 0.5);
        appearance: none;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    .navbar .sidebar-control-wrapper svg {
        position: absolute;
        pointer-events: none;
        color: rgb(252, 252, 161);
    }

    .navbar .sidebar-control:checked {
        right: 0.5rem;
    }

    .navbar .divider {
        width: 90%;
        height: 3px;
    }

    .navbar .characters {
        flex-direction: column;
    }

    .navbar .characters-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}
