.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cadaf8;
    position: fixed;
    gap: 2rem;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    height: 7rem;
}

.navbar .sidebar-control {
    display: none;
}

.navbar .characters {
    display: flex;
    gap: 1rem;
}

.navbar .characters .characters-container {
    display: flex;
    gap: 1rem;
}

.navbar .divider {
    background: rgb(148, 145, 185);
    width: 3px;
    height: 4rem;
    border-radius: 10px;
}

.navbar .log-out {
    background-image: url("../../assets/logout.svg");
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        position: absolute;
        height: 100%;
        position: fixed;
        width: 80%;
        flex-direction: column;
        padding-bottom: 3rem;
        transition: left 0.33s;
        padding: 1.5rem;
    }

    .navbar.hidden {
        left: -80%;
    }

    .navbar .sidebar-control {
        appearance: none;
        background-image: url("../../assets/open.svg");
        filter: invert(64%) sepia(99%) saturate(2291%) hue-rotate(284deg)
            brightness(94%) contrast(97%);
        display: block;
        position: absolute;
        right: -2rem;
        top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.25rem;
        transition: right 0.33s;
    }

    .navbar .sidebar-control:checked {
        background-image: url("../../assets/close.svg");
        right: 0.5rem;
    }

    .navbar .divider {
        width: 90%;
        height: 3px;
    }

    .navbar .characters {
        flex-direction: column;
    }

    .navbar .characters-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}
